.Button{
  border: 2px solid #fff;
  padding: 5px 25px;
  font-size: 1rem;
  color: #fff;
  background-color: transparent;
  cursor: pointer;
  transition: border-radius 200ms ease;
  outline: none;

  &:hover { border-radius: 25px; }

  &.Alternative {
    border-color: orange;
    color: orange;
  }
}