.Input {
  padding: 5px;
  font-size: 1rem;
  border: 2px solid #fff;
  border-radius: 4px;
  min-width: 350px;
  box-sizing: border-box;
  outline: none;

  &.Error {
    border: 2px solid #d41111;
    color: #d41111;
    background-color: lighten(#d41111, 45%);

    &::placeholder { color: #d41111; }
  }
}
